@{
    ViewBag.Title = "Lookup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lookup</h2>

<p>
    It is currently: @TimeZoneInfo.ConvertTime(DateTime.Now, ViewBag.GivenZone)
    
</p>

<ul>
    @foreach (var zone in TimeZoneInfo.GetSystemTimeZones())
    {
        <ul>@TimeZoneInfo.ConvertTime(DateTime.Now, zone) <span id="zonename">@zone.DisplayName</span></ul>
    }
</ul>