@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
Enter their timezone (if you don't know it, try the nearest major city), select the timezone and hit go.
</p>

<form action="." method="POST">
    <input type="text" name="city" id="city" />
    <input type="submit" value="What's the fucking time?" />
</form>