@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
Enter their timezone (if you don't know it, try the nearest major city), select the timezone and hit go.
</p>

<form action="." method="POST">
    <input type="text" name="city" id="city" />
    <input type="submit" value="What's the fucking time?" />
</form>

@section header {
 <div class="page-header">
<h1>Will I get them out of bed? </h1>
<h3>For those of us that don't understand timezones</h3>
</div>

}